@page "/fantasy-graph/{id}"
<PageTitle>Fantasy Trends</PageTitle>

@using Football.UI.Interfaces;
@using Football.Shared.Models.Fantasy;
@using ApexCharts;
@inject IFantasyService fantasyService;

@if (loading)
{
    <div class="spinner"></div>
}
else
{
    <h4>@Title()</h4>
}

<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>

@if (fantasy.Any())
{
    <ApexChart TItem="WeeklyFantasyModel"
    Height="400">
        <ApexPointSeries TItem="WeeklyFantasyModel"
        Items="fantasy"
        Name="Fantasy Pts"
        SeriesType="SeriesType.Line"
        XValue="e => e.Week"
        YValue="e=> (decimal)e.FantasyPoints" />
    </ApexChart>
}

@code {
    [Parameter]
    public string id { get; set; } = "";

    private bool loading { get; set; } = false;
    private bool shouldRender;
    private bool youTried = false;

    private List<WeeklyFantasyModel>? fantasy = new();
    private string name { get; set; } = "";

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        shouldRender = true;
        youTried = true;
        fantasy = await fantasyService.GetWeeklyFantasyByPlayerRequest(id);
        if (fantasy.Any())
        {
            fantasy = fantasy.OrderBy(f => f.Week).ToList();
            name = fantasy.Select(f => f.Name).First();
        }

        loading = false;
        shouldRender = true;
    }

    private string Title() => "Fantasy Trends for " + name;
}
