@page "/snaps-graph/{id}"
<PageTitle>Snap Trends</PageTitle>

@using Football.UI.Interfaces;
@using Football.Api.Models.Players;
@using ApexCharts;

@inject IPlayersService playersService;
@inject IHttpClientFactory ClientFactory

@if (loading)
{
    <div class="spinner"></div>
}
else
{
    <h4>@Title()</h4>
}

<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>

@if (snaps.Any())
{
    <ApexChart TItem="SnapCount"
               Height="400">
        <ApexPointSeries TItem="SnapCountModel"
                         Items="snaps"
                         Name="Snaps"
                         SeriesType="SeriesType.Line"
                         XValue="e => e.Week"
                         YValue="e=> (decimal)e.Snaps" />
    </ApexChart>
}

@code {
    [Parameter]
    public string id { get; set; } = "";

    private bool loading { get; set; } = false;

    private bool shouldRender;
    private bool youTried = false;
    protected override bool ShouldRender() => shouldRender;

    private List<SnapCountModel>? snaps = [];
    private string name { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        shouldRender = true;
        youTried = true;
        snaps = await playersService.GetSnapCountsRequest(id);
        if (snaps != null && snaps.Any())
        {
            snaps = snaps.OrderBy(f => f.Week).ToList();
            name = snaps.Select(f => f.Name).First();
        }

        loading = false;
        shouldRender = true;
    }

    public string Title() => "Snap Trends for " + name;
}
