@if (!string.IsNullOrWhiteSpace(Label))
{
    <label for="@Id">
        @Label
    </label>
}
<div class="input-group mb-3 ">
    <input type="text" class="form-control" placeholder="Position..." id="@Id" value="@Position" @onchange="this.OnChange">
</div>

@code {
    [Parameter] public String Position { get; set; } = " ";
    [Parameter] public EventCallback<string> PositionChanged { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Placeholder { get; set; }

    private void OnChange(ChangeEventArgs e)
    {
        PositionChanged.InvokeAsync(e.Value.ToString());
    }
}
