@if (!string.IsNullOrWhiteSpace(Label))
{
    <label for="@Id">
        @Label
    </label>
}
<div class="input-group mb-3 ">
    <input type="text" class="form-control" placeholder="PlayerId..." id="@Id" value="@PlayerId" @onchange="this.OnChange">
</div>

@code {
    [Parameter] public String PlayerId{ get; set; } = " ";
    [Parameter] public EventCallback<string> PlayerIdChanged { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Placeholder { get; set; }

    private void OnChange(ChangeEventArgs e)
    {
        PlayerIdChanged.InvokeAsync(e.Value.ToString());
    }
}

