@page "/"

<PageTitle>Index</PageTitle>

<h1>Football.UI</h1>

<p>Fantasy Football Projected Rankings based on a linear regression model.</p>
<br/>
<p>Current QB regression model</p>
<ul>
    <li>Passing Attempts per Game</li>
    <li>Passing Yards per Game</li>
    <li>Passing Touchdowns per Game</li>
    <li>Rushing Attempts per Game</li>
    <li>Rushing Yards per Game</li>
    <li>Rushing Touchdowns per Game</li>
    <li>Sack Yards per Game</li>
</ul>
<br/>
<br/>
<p>Current RB regresion model</p>
<ul>
    <li>Rushing Attempts per Game</li>
    <li>Rushing Yards per Game</li>
    <li>Rushing Yards per Attempt</li>
    <li>Rushing Touchdowns per Game</li>
    <li>Receptions per Game</li>
    <li>Receiving Yards per Game</li>
    <li>Receiving Touchdowns per Game</li>
</ul>
<br/>
<br/>
<p>Current Pass Catchers regression Model</p>
<ul>
    <li>Targets per Game</li>
    <li>Receptions per Game</li>
    <li>Yards per Game</li>
    <li>Yards per Reception</li>
    <li>Touchdowns per Game</li>
</ul>
<br/>
<br/>
